# Node modules
node_modules/
# npm cache
.npm/
# Yarn cache
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarn-integrity
.pnp.*

# Logs
*.log
*.log.*
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# Dependency directories
/ios/Pods/
/android/.gradle
/android/app/build/
/android/.idea
/android/build/
/android/.cxx/
/android/app/.cxx/

# Xcode files
ios/*.xcworkspace
ios/Pods
ios/build/
ios/DerivedData/
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
!ios/**/*.xcodeproj
!ios/**/*.xcworkspace
!ios/**/*.xcscheme
!ios/**/*.xcuserstate
xcuserdata/

# Temporary and IDE files
*.swp
*.swo
*.DS_Store
.vscode/
.idea/
*.iml

# Bundle files
*.bundle
*.jsbundle
*.bundle.map
*.js.map

# Expo files
.expo
.expo-shared

# Mac System files
.DS_Store

# Gradle files
.gradle
/local.properties

# IntelliJ
.idea/

# Misc
.expo
.expo-shared
/coverage/
*.lock

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# React Native Android-specific files
/android/app/debug.keystore

# Test and Coverage
/coverage/
/jest/
/tests/
